.App {
  text-align: center;
}


*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
} 
:root{
  --header-font-size : 1.8rem;
  --subheader-font-size : 1.1rem;
  --heading-padding: 0.8rem;
  --primary-color:rgba(221, 6, 6, 0.863);
  --secondary-color:rgb(49, 11, 138);
}


body{
  /* background-color: #fff; */
  /* background: linear-gradient(0deg,#00000088 30%,#ffffff44 100%); */
  /* background-image: url("./images/background.jpg"); */
  /* background-image: linear-gradient(-45deg,rgb(133, 133, 133),rgb(39, 14, 14),#000000, #292631,#ffffff) */
}

html,body{
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}

@font-face {
  font-family: LeagueGothic-Regular;
  src: url('../src/league-gothic.regular.ttf');
}

.sm{
  color:var(--secondary-color);
 
}

i:hover{
  opacity: 0.8;
  color: var(--primary-color);
}

.skill{
  color:var(--primary-color);
}

/* -----------------------------------NAV BAR-------------------------- */



