.App {
  text-align: center;
}


*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
} 
:root{
  --header-font-size : 1.8rem;
  --subheader-font-size : 1.1rem;
  --heading-padding: 0.8rem;
  --orangish:#ffdf6b;
  --bluish:#582aff;
  --light-color: #FFF;
  --dark-color:#1c1e21;
}


body{
  /* background-color: #fff; */
  /* background: linear-gradient(0deg,#00000088 30%,#ffffff44 100%); */
  /* background-image: url("./images/background.jpg"); */
  /* background-image: linear-gradient(-45deg,rgb(133, 133, 133),rgb(39, 14, 14),#000000, #292631,#ffffff) */
}

html,body{
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: LeagueGothic-Regular;
  src: url('../src/league-gothic.regular.ttf');
}

.sm{
  color:var(--bluish);
    /* color:var(--orangish); */
}



i:hover{
  opacity: 0.8;
  color: var(--orangish);
  transform: scale(1.2); 
}

.skill{
  color:var(--orangish);


}



.navigation-bar{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem 0rem;
  position:fixed;
  width: 100vw;
  background-color: var(--light-color);
  z-index: 1000;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;

}

.navigation-bar-dark{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0.5rem 0rem;
  position:fixed;
  width: 100vw;
  background-color: var(--dark-color);
  z-index: 1000;
  font-family: 'DM Sans', sans-serif;
font-weight: 600;
}

.navigation-bar-dark a{
  color:var(--light-color);
}

.logo img{
  height: 3rem;
  width: 3rem;
}
  



/* -----------------------------------NAV BAR-------------------------- */



