.about{
  height: 100vh;
  width: 100vw;
  display: flex;
  // background: yellowgreen;
}


.banner{
    background-size: auto;
    background-position: left center;
    display: flex;
    width: 100vw;
    margin-top: 4.5rem;
  }
  
  .me{
    height: 30rem;
   margin : -1rem 3rem 0rem 3rem;
    }

    .some-text{
      background: url("https://pbs.twimg.com/profile_images/1336280193170767872/Lf4QhK3Q_400x400.jpg");
      background-clip : text;
    }
  .my-info{
    display: flex;
    // margin-top: -5.1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    // border: 2px solid black;
  }
  
  .banner-title {
    font-family: "Montserrat";
    text-align: center;
    color: var(--light-color);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    letter-spacing: 1px;
  }
  
  .name-text{
    // background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-image: url('../images/giphy.webp');
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    // font-size: 120px;
    // line-height: .75;
    // margin: 10px 0;
  }
  /* styling my button */
  
  .white-mode {
    text-decoration: none;
    padding: 7px 10px;
    background-color: #122;
    border-radius: 3px;
    color: var(--light-color);
    transition: .35s ease-in-out;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-family: "Montserrat";
  }
  
  .white-mode:hover {
    background-color: var(--light-color);
    color: #122;
  }

  

  .banner-title{
    display: flex;
    font-family: LeagueGothic-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    letter-spacing: 0.06em;
    color: #0D0D1D;
    // margin-top: 7rem;
    margin: auto;
    align-items: center;
    margin-top: auto;
    // margin-left: auto;
  }

  .info{
    // display: flex;
    // margin-right: 5rem;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    // height: 20rem;
    // margin-left: 40rem;
  }
  
.Name{
  display: flex;
  flex-direction: column;
}

  .banner-subtitle{
    display: block;
    width: 38rem;
    margin-left: auto;
    font-family: LeagueGothic-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 0.5px;
    // color: #000000;
    color:var(--dark-color);
}   

.banner-subtitle-dark{
  display: block;
  width: 38rem;
  margin-left: auto;
  font-family: LeagueGothic-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  letter-spacing: 0.5px;
  color:var(--light-color);

}
  
  .profile-pic{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: contain;
  }

  .contact-container{
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: auto;
    margin-top: 3rem;

  }

  // 

  @media only screen and (max-width: 700px) {
    .about{
      height: 90vh;
      display: flex;
    }
    .me{
      height: 23rem;
      // margin : -5rem 0rem -4rem 0;
      margin : -3rem 0rem -2rem 0;

    }
    .banner{
      flex-direction: column;
    }
    .banner-title{
      margin-top: 2rem;
      font-size: 60px;
    }

    .banner-subtitle{
      font-size: 24px;
    }

    .banner-subtitle-dark{
      font-size: 24px;
    }

    .contact-container{
      width: 12rem;
      margin-top: 2rem;
    }

   
   

  }