nav{
    display: flex;
    letter-spacing: 0.02em;
    .active{
        color:green;
        font-size: 18px;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
}

.nav-bar{
    justify-content:  flex-end;
    margin: 1rem;
    font-weight: 500;
    font-size: 22px;
    font-family: LeagueGothic-Regular;
    color: #3D3BB8;
}

.nav-bar a{
    margin: 1rem 5rem;
    color: #3D3BB8;

}

  .logo{
    position: absolute;
    left: 1rem;
    // margin-top: 1rem;
    letter-spacing: 2px;
    padding-left: 5vw;
  
   
    margin-left: 2rem;
    font-size: 2.6rem;
    text-decoration: none;

    font-family: Grenze Gotisch;
    font-style: normal;
    font-weight: bold;
    /* identical to box height */
    text-align: center;
    color: #fafafa;
  }

//   .logo{
//     transition: ease-in-out 200ms color;
//   }

//   .logo:hover{
//     transform: scale(1.02); 
//     color:white;
//   }
// 

@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}



