

.projectImage{
    height:15rem;
    width: 100%;
    object-fit: contain;
}
  
  .projects-container{
    display: inline-block;
    width: 30%;
    flex-direction: row;
  }

  .projects-main-container{
    margin-top: 5rem;

  }

  @keyframes animation2 {
    from{
        transform: translateX(-20px);
    }
    to{
        transform: translateX(0px);
    }
  }
  
  .project-details{
    // box-shadow: black 1px 1px 8px ;
    margin: 2rem;
    width: 23rem;
    display: grid;
    height: 30rem;
    /* background-color: rgb(248, 205, 152); */
    place-items: center;
    padding-bottom: 1rem;
    // color:var(--bluish);
    border-radius: 16px;
    // backdrop-filter: blur(100px);
    box-shadow: -8px 9px 9px -4px rgba(30, 30, 60, 0.13);
    border: 1px solid rgb(224, 224, 224);
    background-color: var(--light-color);
    transition: ease-in-out 200ms transform;
    // backdrop-filter : blur(15px);
  font-family: 'DM Sans', sans-serif;

  }

  .project-details-dark{
    margin: 2rem;
    width: 23rem;
    display: grid;
    height: 30rem;
    place-items: center;
    padding-bottom: 1rem;
    border-radius: 16px;
    box-shadow: -8px 9px 9px -4px rgba(255, 255, 255, 0.13);
    background-color: #100424;
    transition: ease-in-out 200ms transform;
  font-family: 'DM Sans', sans-serif;

  }

  .project-details:hover ,.project-details-dark:hover{
    transform: scale(1.02); 
  }

  .project-details i,.project-details-dark i{
    align-self: flex-end;
  }
  
  .project-details .links,.project-details-dark .links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.8rem;
  }
  .project-desc{
    font-size: 1rem;
    padding: 0.6rem;
  
  }
  .project-title{
    font-size: 1.3rem;
    font-weight: bold;
    padding:1rem;
  }
  
  .tools{
    display: flex;
    margin: 0.5rem;
    width: 100%;
    justify-content: space-around;
  }

  .tool{
    padding: 5px;
    border-radius: 10px;
    box-shadow: #FFDF6B 1px 1px 4px ;
  }


  @media only screen and (max-width: 700px) {
    .projects-main-container{
      display: grid;
      margin: 0px;
      padding: 0px;
    }

    .projects-container{
      width: auto;
      flex-direction: row;
    }

    .project-details ,.project-details-dark{
      // box-shadow: black 1px 1px 8px ;
      margin: 1rem 0rem;
      width: 100vw;
      display: grid;
      height: auto;
      place-items: center;
      padding-bottom: 1rem;
      place-items: center;
      box-shadow: -8px 9px 9px -4px rgba(30, 30, 60, 0.13);
      // background-color: #f0e7e780;
      background-color: var(--light-color);
      transition: ease-in-out 200ms transform;
      // backdrop-filter : blur(15px);
    font-family: 'DM Sans', sans-serif;
  
    }

    .project-details-dark{
      background-color: #000000;

    }

  }